# Proyek UAS PMDPM

<div class="alert alert-block alert-danger">

<b>Harap jangan menghapus cell dan komentar yang diberikan!</b> <a class="tocSkip"></a>

Setiap cell markdown dan code akan berisi instruksi pengerjaan Proyek UAS PMDPM
</div>

Dalam notebook ini kalian akan diminta untuk membuat sebuah proyek Pembelajaran Mesin menggunakan dataset yang sudah disediakan. Proyek akan terdiri dari proses inisialisasi, data loading, data cleansing, feature engineering, modelling, dan evaluasi model. Pada bagian akhir silahkan berikan laporan singkat dari proyek yang sudah dikerjakan

### Inisialisasi

Bagian berikut berisi import library yang dibutuhkan

In [13]:
#isikan import library di sini
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Data Loading

Bagian berikut berisi proses data loading, tampilkan 20 baris data teratas!

In [16]:
#loading data yang akan diolah
df_housing_krisna_ivan=pd.read_csv('paris_housing2000.csv')

In [17]:
df_housing_krisna_ivan.head(20)

,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,61648,3,4,1995,N,Y,3114,1258,264,Y,9,10313.5,Basic
1,33633,9,1,2011,N,Y,9390,6219,922,N,9,13229.1,Basic
2,80623,1,4,2003,Y,N,2239,2795,951,Y,7,14431.3,Basic
3,8862,6,2,1990,N,N,6861,5769,442,N,5,15488.0,Basic
4,27008,6,9,1992,Y,Y,6618,7045,939,Y,10,16799.2,Basic
5,82480,5,2,2010,Y,N,4426,5336,911,N,4,17071.0,Basic
6,26761,4,3,1990,Y,N,6022,8521,391,Y,3,17363.0,Basic
7,62932,6,3,2000,N,N,2325,6230,536,N,9,18985.0,Basic
8,91418,2,2,2020,N,Y,8598,3119,268,N,10,19638.0,Basic
9,29281,7,6,1995,N,Y,2675,6452,724,Y,2,19788.5,Basic
10,40384,5,1,2021,N,Y,6831,1323,242,N,9,21201.1,Basic
11,99905,3,1,2002,N,Y,7704,7896,468,Y,8,22499.2,Basic
12,42248,5,4,1997,Y,N,3411,8985,213,N,4,22670.7,Basic
13,63045,5,1,1991,N,Y,411,475,110,N,9,23653.1,Basic
14,53558,8,6,2014,Y,N,2663,1650,403,Y,10,23818.4,Basic
15,40481,7,5,2009,N,Y,3367,1039,436,Y,1,24058.9,Basic
16,10784,7,2,2019,N,N,9680,5250,134,N,10,26533.9,Basic
17,72140,2,1,2014,Y,N,1820,999,805,Y,4,27438.4,Basic
18,25150,6,5,2000,Y,N,6453,5671,744,Y,9,28028.0,Basic
19,38322,2,4,1996,Y,Y,5740,8505,106,Y,6,28295.6,Basic

### Data Cleansing

Bagian berikut berisi proses pembersihan data (missing values handling)

In [18]:
#bersihkan dataset menggunakan metode yang sudah dipelajari
df_housing_krisna_ivan = pd.get_dummies(df_housing_krisna_ivan, 
                                        ['isNewBuilt', 'hasStormProtector',
                                        'hasStorageRoom', 'category'])

In [19]:
df_housing_krisna_ivan.head(5)

,cityCode,cityPartRange,numPrevOwners,made,basement,attic,garage,hasGuestRoom,price,isNewBuilt_N,isNewBuilt_Y,hasStormProtector_N,hasStormProtector_Y,hasStorageRoom_N,hasStorageRoom_Y,category_Basic,category_Luxury
0,61648,3,4,1995,3114,1258,264,9,10313.5,1,0,0,1,0,1,1,0
1,33633,9,1,2011,9390,6219,922,9,13229.1,1,0,0,1,1,0,1,0
2,80623,1,4,2003,2239,2795,951,7,14431.3,0,1,1,0,0,1,1,0
3,8862,6,2,1990,6861,5769,442,5,15488.0,1,0,1,0,1,0,1,0
4,27008,6,9,1992,6618,7045,939,10,16799.2,0,1,0,1,0,1,1,0

### Data Visualization

Dalam proses visualisasi data, silahkan pilih 5 feature yang menurut Anda perlu divisualisasikan agar mendapat insight dari data.

In [4]:
#visualisasi fitur menggunakan metode yang sudah dipelajari

### Deskripsi Data Visualization
Berikan keterangan atau deskripsi singkat mengenai informasi yang diperoleh dari visualisasi data tersebut. Buat deskripsinya di cell markdown ini!

### Modelling

Gunakan Pipeline untuk modelling dan grid search cross-validation untuk pemilihan model terbaik. Gunakan Stratified K-fold Cross Validation dengan nilai k=5. Pipeline terdiri atas data scaling, feature selection, dan classifier.

>Step data scaling untuk membandingkan perlunya data scaling atau tidak. Gunakan tiga nilai pada parameter grid yaitu: [None,Scaler1,Scaler2] Scaler yang digunakan antara lain MinMax, Standard, atau Robust.

>Step feature selection untuk membandingkan metode feature selection yang digunakan. Gunakan tiga metode pada parameter grid yaitu: [None,Selector1,Selector2]. Metode yang digunakan harus statistik univariat (antara SelectKBest atau SelectPercentile) dan SelectFromModel (boleh menggunakan tree-based model atau linear model). Kalian juga perlu melakukan setting parameter grid nilai k atau percentile-nya dan setting model untuk SelectFromModel.

>Step classifier untuk membandingkan algoritme classifier. Gunakan 4 algoritme pembelajaran mesin yaitu Random Forest, Gradient Boosting Classifier, Logistic Regression, dan SVM. Eksplorasi pengaturan parameter yang ada pada algoritme yang akan Anda gunakan, tidak terbatas pada 1-2 parameter saja supaya optimal (selain random_state). Silahkan bereksperimen untuk parameter seperti n_estimators, max_depth untuk tree-based classifier; C untuk Logistic Regression; dan C, gamma, serta kernel untuk SVM agar mendapat akurasi terbaik.

>Tampilkan best estimator dan nilai best score dari grid-search cross-validation. Fit best estimator pada train set kemudian ujikan pada test set dengan fungsi score. Format score 3 digit di belakang koma (.3f).

In [6]:
#cell code ini untuk proses modelling

### Evaluasi Model

Bagian berikut berisi evaluasi model menggunakan classification report dan skor AUC. Tampilkan classification report dan AUC dari best estimator yang diperoleh!

In [1]:
#lakukan proses evaluasi model pembelajaran mesin

### Laporan Proyek

Silahkan isi bagian di bawah ini dengan laporan singkat mengenai proyek yang sudah Anda buat. Jelaskan secara singkat tentang:

- dataset yang digunakan beserta deskripsi feature dan targetnya
- proses data cleansing yang dilakukan
- proses data visualization yang dilakukan
- proses feature engineering yang dilakukan
- proses modeling yang dilakukan
- model terbaik
- hasil evaluasi model

*tulis laporan Anda di cell ini*

<div class="alert alert-block alert-danger">

<b>Harap jangan menghapus cell dan komentar yang diberikan!</b> <a class="tocSkip"></a>

Jika code kalian terindikasi copy paste, maka nilai UAS = 0
</div>